@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-sidebar: #121214;
  --color-accent: #0284c7;
  --color-border: #27272a;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-muted: #a1a1aa;
}

@layer base {
  body {
    @apply bg-background text-zinc-100 antialiased overflow-hidden selection:bg-accent/30 font-sans;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full hover:bg-zinc-700 transition-colors;
}

.xyflow__background {
  @apply bg-sidebar/50;
}

.xyflow__node {
  @apply shadow-lg !transition-all !duration-500;
}

.xyflow__edge-path {
  @apply !stroke-zinc-800 !stroke-1;
}

.xyflow__controls-button {
  @apply !bg-zinc-900 !border-zinc-800 !fill-zinc-400 hover:!bg-zinc-800;
}
